body{
	background-image: url("./background.jpg");
	background-repeat: repeat;
	background-size: 250px 250px;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden;
}

form [type="submit"]{
	display: block;
	background-color: #27814c;
	font-weight: bold;
	cursor: pointer;
}

p{
	color: #ffffff;
}

.container{
  position: relative;
}

#compra{
	margin-top: 40%;
	margin-left: 40%;
	height: 260px;
	width: auto;
}

#compra2{
	margin-top: 40%;
	margin-left: 40%;
	height: 260px;
	width: auto;
	transform: scale(1);
	transition: transform 1.5s linear;
}

#compra2.animada{
  animation-name: animacao-compra2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes animacao-compra2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.2) translateY(500%);
  }
}

#descarte2{
	margin-top: 40%;
	margin-left: 60%;
	height: 260px;
	width: auto;
	transform: scale(1);
	transition: transform 1.5s linear;
}

#descarte2.animada{
  animation-name: animacao-descarte2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes animacao-descarte2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.2) translateY(500%);
  }
}

#descarte3{
	margin-top: 540%;
	margin-left: 160%;
	height: 260px;
	width: auto;
	z-index: 6;
	transform: scale(1);
	transition: transform 1.5s linear;
}

#descarte3.animada{
	animation-name: animacao-descarte3;
	animation-duration: 3s;
	animation-iteration-count: 1; /* Alterado para 1 */
	animation-fill-mode: forwards;
}

@keyframes animacao-descarte3{
	0% {
		transform: scale(1.2);
	}
	50% {
		transform: scale(1.2) translateY(-278%);
	}
	100% {
		transform: scale(1) translateY(-322%);
	}
}

#criar-conta{
	color: #27814c;
	text-decoration: none;
	font-weight: bold;
}

#itens-navlateral{
	margin: 0;
	padding: 0;
}

#logo-navlateral{
	display: flex;
	text-align: center;
	transition: all 0.5s ease;
	margin: 10px 0 0 10px;
	&:hover{
		background-color: #181920;
	}
}

#logo-navlateral img{
	width: 50px;
	height: 50px;
}

#logo-navlateral span{
	font-weight: bold;
	padding-left: 10px;
	font-size: 18px;
	text-transform: uppercase;
	font-family: heptal;
	color: #FE0000;
	text-shadow: -2px 2px #000;
}

#logout{
	position: absolute;
	bottom: 0;
}

#nav-lateral{
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	left: 0;
	background-color: #181920;
	width: 90px;
	overflow: hidden;
	transition: width 0.2s linear;
	box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
	&:hover{
		width: 280px;
		transition: all 0.5s ease;
	}
}

.carta{
	border: 0px;
	border-radius: 5px;
}

.fas{
	position: relative;
	width: 70px;
	height: 40px;
	top: 10px;
	font-size: 20px;
	text-align: center;
}

.grid{
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto;
	grid-template-rows: 40%;
	grid-gap: 5px;
	width: auto;
}
 
.grid__item{
	width: 10vw;
	height: auto;
	border-radius: 8px;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	color: #fff;
}
 
.grid__null{
	margin-top: 10px;
	position: relative;
}

.input::placeholder{
	color: #ffffff;
	font-size: 14px;
}

.links-navlateral{
	position: relative;
	color: rgb(85, 83, 83);
	font-size: 14px;
	display: table;
	width: 300px;
	padding: 10px;
	text-decoration: none;
	outline: none;
	border: none;
	box-sizing: border-box;
	&:hover{
		background: #eee;
	}
}

.login{
	width: 230px;
	height: 330px;
	padding: 35px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	& form{
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	& input{
		margin-top: 10px;
		background-color: #252A34;
		padding-left: 10px;
		color: #ffffff;
		border: none;
		height: 45px;
		outline: none;
		border-radius: 8px;
	}
	& img{
		width: 120px;
		height: auto;
	}
}

.players{
	background-color: #26272c;
}

.material-icons{
	font-weight: 900;
	display: inline-block;
	position: relative;
	width: 70px;
	height: 40px;
	top: 6px;
	font-size: 28px;
}

.nav-item{
	position: relative;
	top: 8px;
	margin-left: 10px;
}

.nav-item2{
	position: relative;
	top: -1px;
	margin-left: 10px;
}

.sidebar{
	position: fixed;
	right: 0px;
	width: 300px;
	padding: 0;
	margin: 0;
	height: 100%;
	background-color: #181920;
}